/* ---- Read more ----------------------------------------------------------- */
.wcblr-readmore {
	display: inline-flex;
	gap: 8px;
	border-bottom: 2px solid currentColor;
	padding-bottom: 3px;
	text-decoration: none !important;
}

.wcblr-readmore a {
	text-decoration: none !important;
	color: inherit;
}

