/* ---- Jetpack subscriptions block ----------------------------------------- */
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline {
	form input[type="email"] {
		background: #fff !important;
		border-top-left-radius: 8px !important;
		border-bottom-left-radius: 8px !important;
	}

	form button {
		margin-left: 0 !important;
		border-top-right-radius: 8px !important;
		border-bottom-right-radius: 8px !important;
	}
}
