/* ---- Single post / default-template page title -------------------------- */
.single-post:not(.post-template) .wp-block-post-title {
	font-size: 64px !important;
	margin-top: 16px !important;
}
@media (max-width: 991px) {
	.single-post:not(.post-template) .wp-block-post-title {
		font-size: 50px !important;
	}
}
.wp-block-post-terms a {
	text-decoration: none !important;
}
.single-post:not(.post-template) h2,
.page:not(.page-template) h2 {
	font-weight: 500 !important;
	font-size: 25px !important;
	letter-spacing: -0.01em !important;
	margin: 46px 0 14px !important;
}
.single-post:not(.post-template) .wp-block-post-content h2:first-of-type,
.page:not(.page-template) .wp-block-post-content h2:first-of-type {
	margin-top: 14px !important;
}

@media (max-width: 576px) {
	.wcblr-form-group {
		padding: 30px !important;
	}
}

